In [1]:
import os
import re
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.image import imread
import seaborn as sns
import pandas as pd
from sklearn.metrics import cohen_kappa_score as cks
from tabulate import tabulate

import imgkit
from IPython.display import display
from IPython.core.interactiveshell import InteractiveShell
#InteractiveShell.ast_node_interactivity = "all"

pd.options.display.float_format = '{:,.3f}'.format
pd.set_option('precision', 2)

### Building the dataframe with the results

#### Reading original files

In [2]:
datapath = '../data/img_labeling_3rd_round/'

In [3]:
label_files = sorted(os.listdir(datapath))
label_files = [f for f in label_files if 'csv' in f and "_" in f]
print(f"{len(label_files)} .csv files in the folder\n")
#for f in label_files:
#    print(f)

47 .csv files in the folder

#### Extracting subjects

In [4]:
subjects = {x[:x.find("_")] for x in label_files}
print(f"{len(subjects)} diferent subjects\n")
#for s in sorted(subjects):
#    print(s)

20 diferent subjects

#### Consolidating files per user

In [5]:
consolidated_files = []
for subject in subjects:
    subject_files = [os.path.join(datapath, f) for f in label_files if f.startswith(subject)]
    consolidated_file = os.path.join(datapath, subject + ".csv")
    consolidated_files.append(consolidated_file)
    with open(consolidated_file, "w") as fw:
        for s in subject_files:
            with open(s, "r") as fr:
                lines = fr.read()
                lines = lines.replace('"','')
                lines = lines.replace("[Appealing,Non-appealing]", "[Non-appealing]")   ## Choosing the last chosen class for ambiguous
                lines = lines.replace("[Non-appealing,Appealing]", "[Appealing]")
                fw.write(lines+"\n");

#### Reading CSV files into Dataframes

In [6]:
list_dfs = []
for idx, consolidated_file in enumerate(consolidated_files):
    user = re.findall("|".join(subjects), consolidated_file)[0]
    userid = idx + 1
    df = pd.read_csv(consolidated_file, names=['image_name', 'class','w','h'])
    print(f"User:{userid}, hash: \t {user} tagged {len(df)} images")
    df['user'] = user
    df['userid'] = userid
    df.drop(['w','h'], axis=1, inplace=True)
    df.drop_duplicates(inplace=True)
    list_dfs.append(df)

User:1, hash: 	 C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284 tagged 1011 images
User:2, hash: 	 C733B58CB8AE244885A97E86B09D896A5633674C tagged 1010 images
User:3, hash: 	 F96F6ACF9B40EDA60D4D48FBED7B3512E1C8E48D tagged 1012 images
User:4, hash: 	 5FEF4C8B719CABDF32C46A4C9C9316376DF7B512 tagged 500 images
User:5, hash: 	 BE887E16DEB41D06FACD481B5BFE3AF6FDF6F8CB tagged 1012 images
User:6, hash: 	 3AB6D9AAC2244ECC4F595743DF6EB54686DE31A0 tagged 1012 images
User:7, hash: 	 C003DF0C2EC67886EA6BC835682E3182A2126135 tagged 1009 images
User:8, hash: 	 F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D tagged 495 images
User:9, hash: 	 73396439E5B11BBCA57A8FCB53FBB6F0FCECE794 tagged 1007 images
User:10, hash: 	 C91C4E40D11000EB5E5BE0EDBE12C74A54FAA40B tagged 500 images
User:11, hash: 	 F9CC3D73B8F36057257097AFFE29B884000BABB5 tagged 1011 images
User:12, hash: 	 867D8B4F797167AA1CA27E00F76B51C63A7278ED tagged 499 images
User:13, hash: 	 5FFB96918AA02D6E1EF82257A2828F9A4FD9C702 tagged 1101 images
User:14, hash: 	 A6241D7982404859C8D816D8C4A61DC506145A50 tagged 1011 images
User:15, hash: 	 8D396D662D61B164860C081535E30C3E32934406 tagged 1012 images
User:16, hash: 	 43166EAC7DE5C6D48FF646B1B12BEB46AC7CA375 tagged 1008 images
User:17, hash: 	 B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA tagged 1012 images
User:18, hash: 	 38205FF03AFF19E008FA123615336213A0ED33AB tagged 1010 images
User:19, hash: 	 6438BC09053F6B5215CA1FC743AB0E3CF2B53984 tagged 1012 images
User:20, hash: 	 245DC3767EBDBF721824F2F09B4251D5E0063494 tagged 1012 images

#### Concatenating Dataframes

In [7]:
df_labeling = pd.concat(list_dfs)
df_labeling['id_image'] = df_labeling['image_name'].apply(lambda x:x[:-4])
df_labeling = df_labeling[['userid','user', 'image_name', 'id_image', 'class']]
df_labeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18156 entries, 0 to 1011
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   userid      18156 non-null  int64
 1   user        18156 non-null  object
 2   image_name  18156 non-null  object
 3   id_image    18156 non-null  object
 4   class       18156 non-null  object
dtypes: int64(1), object(4)
memory usage: 851.1+ KB

#### Fixing classes names

In [8]:
print(df_labeling['class'].unique())
df_labeling["class"] = df_labeling["class"].str.strip("[] ")
df_labeling["class"].replace({'Npn-appealing':"Non-appealing"}, inplace=True)
df_labeling['class'].value_counts()

['[Non-appealing]' '[Appealing]' '[Npn-appealing]' '[Appealing]    ']

Non-appealing    11076
Appealing         7080
Name: class, dtype: int64

In [9]:
df_labeling.head()

,userid,user,image_name,id_image,class
0,1,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284,1.jpg,1,Non-appealing
1,1,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284,2.jpg,2,Non-appealing
2,1,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284,3.jpg,3,Non-appealing
3,1,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284,4.jpg,4,Appealing
4,1,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284,5.jpg,5,Non-appealing

### Adding users' data

In [10]:
profiles = pd.read_csv(os.path.join(datapath, 'ChIA-CulturalQuestionnaire-results-rawdata.csv'), 
                       names=["timestamp", "age", "gender", "country", "discard1", "culturalBack", "culture", "hash", "discard2"])
profiles.drop(["timestamp", "discard1", "discard2"], axis=1, inplace=True)
profiles.drop([0,1], axis=0, inplace=True)

profiles["age"] = profiles.age.str.replace("-",",").str.strip("+")
profiles["age"] = profiles.age.apply(lambda x:eval(f"[{x}]"))
profiles["age"] = [np.mean(np.array(x)).astype(int) for x in profiles.age]

profiles.head(20)

,age,gender,country,culturalBack,culture,hash
2,40,female,Austria,European;Asian,European;Asian,NaN
3,22,male,Austria,European,European,3AB6D9AAC2244ECC4F595743DF6EB54686DE31A0
4,22,male,Austria,European,European,43166EAC7DE5C6D48FF646B1B12BEB46AC7CA375
5,35,male,Austria,European,European,B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA
6,22,male,Albania,European,European,8D396D662D61B164860C081535E30C3E32934406
7,22,male,Albania,European,European;American;Latin American,C003DF0C2EC67886EA6BC835682E3182A2126135
8,27,female,Germany,European,European,C733B58CB8AE244885A97E86B09D896A5633674C
9,22,male,Italy,European,European,245DC3767EBDBF721824F2F09B4251D5E0063494
10,22,male,Austria,European,European,BE887E16DEB41D06FACD481B5BFE3AF6FDF6F8CB
11,22,male,Luxembourg,European,European,38205FF03AFF19E008FA123615336213A0ED33AB
12,22,male,Austria,European,European,A6241D7982404859C8D816D8C4A61DC506145A50
13,27,male,Austria,European,European,6438BC09053F6B5215CA1FC743AB0E3CF2B53984
14,22,male,Germany,European,European,C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284
15,22,male,Austria,European,European,5FEF4C8B719CABDF32C46A4C9C9316376DF7B512
16,27,male,Switzerland,European,European,F96F6ACF9B40EDA60D4D48FBED7B3512E1C8E48
17,27,female,Asia,Asian,Asian,5FFB96918AA02D6E1EF82257A2828F9A4FD9C702
18,22,male,Austria,European,European,F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D
19,22,male,Austria,European,European,C91C4E40D11000EB5E5BE0EDBE12C74A54FAA40B
20,22,female,Austria,European,European,F9CC3D73B8F36057257097AFFE29B884000BABB5

In [11]:
df = df_labeling.join(profiles.set_index('hash'), on='user')

#### Users with no profiles

In [12]:
df[df.gender.isnull()].user.unique()

array(['F96F6ACF9B40EDA60D4D48FBED7B3512E1C8E48D',
       '73396439E5B11BBCA57A8FCB53FBB6F0FCECE794',
       '867D8B4F797167AA1CA27E00F76B51C63A7278ED',
       '5FFB96918AA02D6E1EF82257A2828F9A4FD9C702'], dtype=object)

#### Users with profiles

In [13]:
df[df.gender.notnull()].user.unique()

array(['C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284',
       'C733B58CB8AE244885A97E86B09D896A5633674C',
       '5FEF4C8B719CABDF32C46A4C9C9316376DF7B512',
       'BE887E16DEB41D06FACD481B5BFE3AF6FDF6F8CB',
       '3AB6D9AAC2244ECC4F595743DF6EB54686DE31A0',
       'C003DF0C2EC67886EA6BC835682E3182A2126135',
       'F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D',
       'C91C4E40D11000EB5E5BE0EDBE12C74A54FAA40B',
       'F9CC3D73B8F36057257097AFFE29B884000BABB5',
       'A6241D7982404859C8D816D8C4A61DC506145A50',
       '8D396D662D61B164860C081535E30C3E32934406',
       '43166EAC7DE5C6D48FF646B1B12BEB46AC7CA375',
       'B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA',
       '38205FF03AFF19E008FA123615336213A0ED33AB',
       '6438BC09053F6B5215CA1FC743AB0E3CF2B53984',
       '245DC3767EBDBF721824F2F09B4251D5E0063494'], dtype=object)

#### Checking images classified

In [14]:
df_labeling['image_appearances'] = df_labeling.groupby('id_image')['id_image'].transform('count')

In [15]:
print(f"{len(df_labeling['image_name'])} images were classified")
print(f"{len(df_labeling['image_name'].unique())} unique images were classified\n")
num_images = 0
image_appearances = df_labeling.image_appearances.value_counts().sort_index(ascending=True)
for idx in image_appearances.index:
    print(f'{image_appearances[idx]} images were classified {idx} times')
    num_images += image_appearances[idx]

18156 images were classified
1012 unique images were classified

11 images were classified 11 times
165 images were classified 15 times
8016 images were classified 16 times
18 images were classified 18 times
266 images were classified 19 times
9680 images were classified 20 times

#### Keeping the images that were classified by all subjects (optional)

In [16]:
#df_labeling = df_labeling[df_labeling['image_appearances'] == 20]
df_labeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18156 entries, 0 to 1011
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   userid             18156 non-null  int64
 1   user               18156 non-null  object
 2   image_name         18156 non-null  object
 3   id_image           18156 non-null  object
 4   class              18156 non-null  object
 5   image_appearances  18156 non-null  int64
dtypes: int64(2), object(4)
memory usage: 992.9+ KB

### Analysing the [inter-annotator agreement](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.cohen_kappa_score.html) on the results  

### $\kappa = (p_o - p_e) / (1 - p_e)$

#### where $p_o$ is the empirical probability of agreement on the label assigned to any sample (the observed agreement ratio), and $p_e$ is the expected agreement when both annotators assign labels randomly. $p_e$ is estimated using a per-annotator empirical prior over the class labels

In [17]:
l1 = df_labeling.userid.unique()
iter_users = itertools.product(l1,l1)
df_iaa = pd.DataFrame(index=l1, columns=l1)
df_iaa_styled = pd.DataFrame(index=l1, columns=l1)

In [18]:
total_agreement = 0
for user1,user2 in iter_users:
    classesA = df_labeling.loc[(df_labeling.userid == user1),['id_image', 'class']]
    classesA.sort_values(by=['id_image'], inplace=True)

    classesB = df_labeling.loc[(df_labeling.userid == user2),['id_image', 'class']]
    classesB.sort_values(by=['id_image'], inplace=True)

    classesAB = pd.merge(classesA, classesB, on=['id_image'])
    #classesAB.drop_duplicates(subset='id_image', keep = 'first', inplace=True) 
    classesAB.drop('id_image', axis=1, inplace=True)
    classesAB.dropna(inplace=True)

    agreement = cks(classesAB['class_x'], classesAB['class_y'])
    total_agreement += agreement
    #df_iaa.loc[user1,user2] = f'{agreement:.3f}/({len(classesAB)})'
    df_iaa.loc[user1,user2] = f'{agreement:.3f}'
    df_iaa_styled.loc[user1,user2] = f'{agreement:.3f}'
    
df_iaa_styled = df_iaa_styled.apply(pd.to_numeric)
print(tabulate(df_iaa, headers='keys', tablefmt='psql'))
print(f'\nThe average agreement was {total_agreement/(len(l1)**2):.3f}\n\n')

+----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|    |      1 |      2 |      3 |      4 |      5 |      6 |      7 |      8 |      9 |     10 |     11 |     12 |     13 |     14 |     15 |     16 |     17 |     18 |     19 |     20 |
|----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------|
|  1 |  1     |  0.062 |  0.273 |  0.067 |  0.034 |  0.232 |  0.114 |  0.148 |  0.143 |  0.07  |  0.105 |  0.379 |  0.114 |  0.315 |  0.033 |  0.257 |  0.174 | -0.004 |  0.21  |  0.02  |
|  2 |  0.062 |  1     |  0.065 |  0.025 | -0.017 |  0.106 |  0.028 |  0.034 |  0.036 |  0.007 |  0.045 |  0.137 |  0.05  |  0.094 |  0.003 |  0.07  |  0.058 |  0.022 |  0.057 |  0     |
|  3 |  0.273 |  0.065 |  1     |  0.064 | -0.046 |  0.277 | -0.071 | -0.099 |  0.269 |  0.126 | -0.169 |  0.502 |  0.122 |  0.201 |  0.135 |  0.385 |  0.478 | -0.304 |  0.52  |  0.003 |
|  4 |  0.067 |  0.025 |  0.064 |  1     |  0.036 |  0.02  |  0.145 |  0.127 |  0.046 |  0.082 |  0.077 |  0.052 |  0.058 |  0.019 |  0.05  |  0.023 |  0.044 |  0.058 | -0.025 | -0.024 |
|  5 |  0.034 | -0.017 | -0.046 |  0.036 |  1     | -0.036 |  0.034 |  0.052 |  0.02  |  0.043 |  0.017 | -0.007 | -0.015 |  0.007 |  0.016 | -0.052 | -0.019 |  0.019 | -0.042 | -0.009 |
|  6 |  0.232 |  0.106 |  0.277 |  0.02  | -0.036 |  1     |  0.028 |  0.016 |  0.151 |  0.02  |  0.036 |  0.231 |  0.111 |  0.183 |  0.066 |  0.319 |  0.343 | -0.123 |  0.287 |  0.023 |
|  7 |  0.114 |  0.028 | -0.071 |  0.145 |  0.034 |  0.028 |  1     |  0.223 | -0.102 |  0.039 |  0.337 | -0.015 |  0.132 |  0.037 | -0.021 | -0.062 | -0.13  |  0.277 | -0.216 |  0.039 |
|  8 |  0.148 |  0.034 | -0.099 |  0.127 |  0.052 |  0.016 |  0.223 |  1     | -0.15  |  0.031 |  0.377 |  0.016 |  0.015 |  0.167 | -0.122 | -0.06  | -0.082 |  0.295 | -0.166 |  0.081 |
|  9 |  0.143 |  0.036 |  0.269 |  0.046 |  0.02  |  0.151 | -0.102 | -0.15  |  1     |  0.082 | -0.2   |  0.394 |  0.23  |  0.17  |  0.213 |  0.181 |  0.26  | -0.199 |  0.384 | -0.017 |
| 10 |  0.07  |  0.007 |  0.126 |  0.082 |  0.043 |  0.02  |  0.039 |  0.031 |  0.082 |  1     |  0.013 |  0.162 |  0.097 |  0.03  |  0.073 |  0.091 |  0.084 | -0.011 |  0.104 |  0.022 |
| 11 |  0.105 |  0.045 | -0.169 |  0.077 |  0.017 |  0.036 |  0.337 |  0.377 | -0.2   |  0.013 |  1     | -0.066 |  0.082 |  0.093 | -0.119 | -0.087 | -0.215 |  0.345 | -0.297 |  0.021 |
| 12 |  0.379 |  0.137 |  0.502 |  0.052 | -0.007 |  0.231 | -0.015 |  0.016 |  0.394 |  0.162 | -0.066 |  1     |  0.203 |  0.264 |  0.16  |  0.424 |  0.428 | -0.236 |  0.559 |  0.03  |
| 13 |  0.114 |  0.05  |  0.122 |  0.058 | -0.015 |  0.111 |  0.132 |  0.015 |  0.23  |  0.097 |  0.082 |  0.203 |  1     |  0.172 |  0.054 |  0.13  |  0.121 |  0.082 |  0.132 | -0.061 |
| 14 |  0.315 |  0.094 |  0.201 |  0.019 |  0.007 |  0.183 |  0.037 |  0.167 |  0.17  |  0.03  |  0.093 |  0.264 |  0.172 |  1     |  0.078 |  0.246 |  0.182 | -0.061 |  0.218 | -0.017 |
| 15 |  0.033 |  0.003 |  0.135 |  0.05  |  0.016 |  0.066 | -0.021 | -0.122 |  0.213 |  0.073 | -0.119 |  0.16  |  0.054 |  0.078 |  1     |  0.124 |  0.114 | -0.124 |  0.222 | -0.054 |
| 16 |  0.257 |  0.07  |  0.385 |  0.023 | -0.052 |  0.319 | -0.062 | -0.06  |  0.181 |  0.091 | -0.087 |  0.424 |  0.13  |  0.246 |  0.124 |  1     |  0.457 | -0.248 |  0.506 | -0.004 |
| 17 |  0.174 |  0.058 |  0.478 |  0.044 | -0.019 |  0.343 | -0.13  | -0.082 |  0.26  |  0.084 | -0.215 |  0.428 |  0.121 |  0.182 |  0.114 |  0.457 |  1     | -0.31  |  0.606 | -0.011 |
| 18 | -0.004 |  0.022 | -0.304 |  0.058 |  0.019 | -0.123 |  0.277 |  0.295 | -0.199 | -0.011 |  0.345 | -0.236 |  0.082 | -0.061 | -0.124 | -0.248 | -0.31  |  1     | -0.401 |  0.022 |
| 19 |  0.21  |  0.057 |  0.52  | -0.025 | -0.042 |  0.287 | -0.216 | -0.166 |  0.384 |  0.104 | -0.297 |  0.559 |  0.132 |  0.218 |  0.222 |  0.506 |  0.606 | -0.401 |  1     |  0.011 |
| 20 |  0.02  |  0     |  0.003 | -0.024 | -0.009 |  0.023 |  0.039 |  0.081 | -0.017 |  0.022 |  0.021 |  0.03  | -0.061 | -0.017 | -0.054 | -0.004 | -0.011 |  0.022 |  0.011 |  1     |
+----+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+

The average agreement was 0.127

In [19]:
cm = sns.light_palette("green", as_cmap=True)
cm = 'viridis'
cm = 'plasma'
#cm = 'magma'

s = df_iaa_styled.style.background_gradient(cmap=cm, vmin=0, vmax=1, axis=None)
display(s)
html = s.render()
imgkit.from_string(html, f'../data/outputs/styled_table_round3.png')

Loading page (1/2)
Rendering (2/2)
Done

True

In [20]:
df_iaa.to_excel("../data/outputs/round3_results.xlsx")

### Analysis per gender and country/culture

In [21]:
df_labeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18156 entries, 0 to 1011
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   userid             18156 non-null  int64
 1   user               18156 non-null  object
 2   image_name         18156 non-null  object
 3   id_image           18156 non-null  object
 4   class              18156 non-null  object
 5   image_appearances  18156 non-null  int64
dtypes: int64(2), object(4)
memory usage: 992.9+ KB

In [22]:
df_labeling['round'] = 3
df_labeling.drop('image_appearances', inplace=True, axis=1)

In [23]:
#df_labeling.to_hdf('../data/df_labeling.hdf', key='round3')