In [1]:
import os
import re
import itertools
import csv
import shutil
import pandas as pd
from tabulate import tabulate
from functools import reduce

In [2]:
data_dir = 'E:\\IRELAND\\ChiA\\Chia_old\\data\\Round 3 - labelling results\\'

In [5]:
def list_files(directory):
    label_files = sorted(os.listdir(directory))
    files = []
    label_files = [f for f in label_files if '.csv' in f]
    for f in label_files:
        files.append(f)
    
    return files

In [8]:
list_files(data_dir)
print("Total number of files extracted:", len(list_files(data_dir)))

Total number of files extracted: 12

In [9]:
col_names = ['imname', 'labels']

In [20]:
#set1 = list_files(data_dir)
def image_set(directory, condition):
    set_n = list_files(data_dir)
    set_files = []
    set_n = [f for f in set_n if condition in f]
    for f in set_n:
        set_files.append(f)
    return set_files

In [21]:
files = image_set(data_dir, '501')

In [22]:
files

['labels_round3_amelie_2021-02-16-07-49-37_501-1012.csv',
 'labels_round3_gerda_2020-12-29_501-1012.csv',
 'labels_round3_japesh_2021-01-28_501-1012.csv',
 'labels_round3_renato_2021-02-16_501-1012.csv',
 'labels_round3_timmhopp_2021-02-12-02-03-11_501-1012.csv',
 'labels_round3_yalemisew_2021-02-18-12-07-50_501-1012.csv']

In [42]:
#df_set = [pd.read_csv(data_dir + filename, names=col_names, header = None) for filename in set1_files]
def extract_labels(directory, files):
    df_set = [pd.read_csv(directory + filename, names=col_names, header = None) for filename in files]
    df_reduce = reduce(lambda left, right: pd.merge(left, right, on='imname'), df_set)
    return df_reduce

In [43]:
label_data = extract_labels(data_dir, files)
label_data

,imname,labels_x,labels_y,labels_x,labels_y,labels_x,labels_y
0,508.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing]
1,526.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing]
2,527.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing]
3,528.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Appealing]
4,529.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Appealing]
...,...,...,...,...,...,...,...
505,985.jpg,[Appealing],[Appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing]
506,986.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing]
507,987.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing]
508,988.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing]
509,989.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Non-appealing]

In [44]:
print(label_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 0 to 509
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   imname    510 non-null    object
 1   labels_x  510 non-null    object
 2   labels_y  510 non-null    object
 3   labels_x  510 non-null    object
 4   labels_y  510 non-null    object
 5   labels_x  510 non-null    object
 6   labels_y  510 non-null    object
dtypes: object(7)
memory usage: 31.9+ KB
None

In [45]:
df1 = label_data.apply(lambda row: sum(row[:]=='[Non-appealing]'), axis = 1)

In [46]:
df1 = pd.DataFrame(df1)

In [47]:
df1.columns = ['count_appealing']

In [48]:
df1

     count_appealing
0                  2
1                  1
2                  2
3                  5
4                  4
..               ...
505                3
506                3
507                2
508                2
509                4

[510 rows x 1 columns]

In [49]:
df1 = label_data.join(df1, how = 'outer')

In [50]:
df1

,imname,labels_x,labels_y,labels_x,labels_y,labels_x,labels_y,count_appealing
0,508.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2
1,526.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],1
2,527.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2
3,528.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Appealing],5
4,529.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Appealing],4
...,...,...,...,...,...,...,...,...
505,985.jpg,[Appealing],[Appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],3
506,986.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing],3
507,987.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing],2
508,988.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2
509,989.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Non-appealing],4

In [51]:
df_new1 = (df1['count_appealing']/6)*100.0
df_new1 = pd.DataFrame(df_new1)
df_new1.columns = ['% Appealing']

In [52]:
df_new1

     % Appealing
0      33.333333
1      16.666667
2      33.333333
3      83.333333
4      66.666667
..           ...
505    50.000000
506    50.000000
507    33.333333
508    33.333333
509    66.666667

[510 rows x 1 columns]

In [53]:
df1 = df1.join(df_new1, how= 'outer')

In [54]:
df1

,imname,labels_x,labels_y,labels_x,labels_y,labels_x,labels_y,count_appealing,% Appealing
0,508.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2,33.333333
1,526.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],1,16.666667
2,527.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2,33.333333
3,528.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Appealing],5,83.333333
4,529.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Appealing],4,66.666667
...,...,...,...,...,...,...,...,...,...
505,985.jpg,[Appealing],[Appealing],[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],3,50.000000
506,986.jpg,[Non-appealing],[Appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing],3,50.000000
507,987.jpg,[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],[Appealing],[Non-appealing],2,33.333333
508,988.jpg,[Appealing],[Non-appealing],[Non-appealing],[Non-appealing],[Appealing],[Non-appealing],2,33.333333
509,989.jpg,[Appealing],[Non-appealing],[Appealing],[Appealing],[Appealing],[Non-appealing],4,66.666667