In [1]:
import os

In [2]:
path = 'E:\\IRELAND\\ChiA\\Chia\\docs\\'

In [3]:
path

'E:\\IRELAND\\ChiA\\Chia\\docs\\'

In [6]:
names = os.listdir(path)
names[0:10]

['07101-K_8983_1.jpeg',
 '07101-O_1583_1.jpeg',
 '07101-O_1625_1.jpeg',
 '07101-O_2467_1.jpeg',
 '07101-O_2605_1.jpeg',
 '07101-O_3106_1.jpeg',
 '07101-O_4467_1.jpeg',
 '07101-O_990_1.jpeg',
 '10501-bib_rnod_52691_1.jpeg',
 '10501-bib_rnod_52692_1.jpeg']

In [10]:
os.path.join(path, names[2])

'E:\\IRELAND\\ChiA\\Round 4 images\\07101-O_1625_1.jpeg'

In [7]:
len(names)

1080

In [8]:
newnames = []

In [11]:
for idx, name in enumerate(names):
    newname = f"{idx+1}.jpg"
    os.rename(os.path.join(path, name), os.path.join(path, newname))
    newnames.append(newname)

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame({"oldnames":names, "newnames":newnames})
df.head()

              oldnames newnames
0  07101-K_8983_1.jpeg    1.jpg
1  07101-O_1583_1.jpeg    2.jpg
2  07101-O_1625_1.jpeg    3.jpg
3  07101-O_2467_1.jpeg    4.jpg
4  07101-O_2605_1.jpeg    5.jpg

In [15]:
df.to_csv("naming_conversion.csv")