In [2]:
import os
import re
import pandas as pd

In [3]:
label_files = sorted(os.listdir('../data/img_labeling/'))
label_files

['1st_task_labeling_Amelie_08.09.csv',
 '1st_task_labeling_Gerda_07.09.csv',
 '1st_task_labeling_Marcos_24.08.csv',
 '1st_task_labeling_Renato_31.08.csv',
 '1st_task_labeling_Yalemisew_07.09.csv',
 '2nd_task_labeling_Amelie_08.09.csv',
 '2nd_task_labeling_Gerda_07.09.csv',
 '2nd_task_labeling_Marcos_28.08.csv',
 '2nd_task_labeling_Renato_07.09.csv',
 '2nd_task_labeling_Yalemisew_07.09.csv',
 '3rd_task_labeling_Amelie_08.09.csv',
 '3rd_task_labeling_Gerda_07.09.csv',
 '3rd_task_labeling_Marcos_28.08.csv',
 '3rd_task_labeling_Renato_07.09.csv',
 '3rd_task_labeling_Yalemisew_08.09.csv']

In [9]:
re.findall(r'[1-3]{1}', label_files[7])[0]

'2'

In [3]:
list_dfs = []
for label_file in label_files:
    task = int(re.findall(r'[1-3]{1}', label_files[7])[0])
    user = 
    t1 = pd.read_csv(f'../data/img_labeling/{files[0]}', names=['class','image name', 'w','h'])
    t1.head()

        class                                         image name     w     h
0  Non-Fruits  203-resource_document_zuiderzeemuseum_B001601_...  3600  3020
1      Fruits                                285-gam19649_1.jpeg  1024   801
2      Fruits                                 07101-O_389_1.jpeg  3781  5000
3      Fruits                                 07101-O_927_1.jpeg  5000  3868
4  Non-Fruits                                 07101-O_957_1.jpeg  4518  2942