In [1]:
import os
import re
import itertools
import pandas as pd
from sklearn.metrics import cohen_kappa_score as cks
from tabulate import tabulate

### Building the dataframe with the results

In [2]:
datapath = '../data/img_labeling_3rd_round/'

In [3]:
label_files = sorted(os.listdir(datapath))
label_files = [f for f in label_files if 'csv' in f]
print(f"{len(label_files)} .csv files in the folder\n")
for f in label_files:
    print(f)

47 .csv files in the folder

245DC3767EBDBF721824F2F09B4251D5E0063494_taggingresults1.csv
245DC3767EBDBF721824F2F09B4251D5E0063494_taggingresults2.csv
38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-06-05-01-03.csv
38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-06-05-39-48.csv
38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-07-02-12-09.csv
3AB6D9AAC2244ECC4F595743DF6EB54686DE31A0_1.csv
43166EAC7DE5C6D48FF646B1B12BEB46AC7CA375_1.csv
5FEF4C8B719CABDF32C46A4C9C9316376DF7B512_1.csv
5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-07-21-32.csv
5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-08-16-23.csv
5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-08-45-27.csv
5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-09-52-14.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-34-21.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-40-48.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-47-56.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-53-44.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-59-14.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-13-13.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-19-19.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-24-46.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-29-52.csv
6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-36-35.csv
73396439E5B11BBCA57A8FCB53FBB6F0FCECE794_taggingresultsset-1.csv
73396439E5B11BBCA57A8FCB53FBB6F0FCECE794_taggingresultsset-2.csv
867D8B4F797167AA1CA27E00F76B51C63A7278ED_set1.csv
8D396D662D61B164860C081535E30C3E32934406_1.csv
A6241D7982404859C8D816D8C4A61DC506145A50_1.csv
B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA_1.csv
B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA_taggingresults-bonus.csv
BE887E16DEB41D06FACD481B5BFE3AF6FDF6F8CB_1.csv
C003DF0C2EC67886EA6BC835682E3182A2126135_taggingresults1.csv
C003DF0C2EC67886EA6BC835682E3182A2126135_taggingresults2.csv
C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_1-200_taggingresults.csv
C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_201-400_taggingresults.csv
C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_401-600_taggingresults.csv
C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_601-800_taggingresults.csv
C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_801-1012_taggingresults.csv
C733B58CB8AE244885A97E86B09D896A5633674C_taggingresults-set1.csv
C733B58CB8AE244885A97E86B09D896A5633674C_taggingresults-set2.csv
C91C4E40D11000EB5E5BE0EDBE12C74A54FAA40B_01-taggingresults.csv
F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D_tagging-results-1.csv
F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D_tagging-results-2.csv
F96F6ACF9B40EDA60D4D48FBED7B3512E1C8E48D_1.csv
F9CC3D73B8F36057257097AFFE29B884000BABB5_1-taggingresults.csv
F9CC3D73B8F36057257097AFFE29B884000BABB5_2-taggingresults.csv
F9CC3D73B8F36057257097AFFE29B884000BABB5_3-taggingresults.csv
F9CC3D73B8F36057257097AFFE29B884000BABB5_4-taggingresults.csv

In [4]:
subjects = {x[:x.find("_")] for x in label_files}
print(len(subjects))

20

In [15]:
for subject in subjects:
    s_files = [os.path.join(datapath, f) for f in label_files if f.startswith(subject)]
    with open(os.path.join(datapath, subject, ".csv", "w")) as fw:
        for s in s_files:
            with open(os.path.join(datapath, s, "r")) as fr:
                lines = fr.readlines()
                for line in lines:
                    fw.write(line, "\n")

['../data/img_labeling_3rd_round/BE887E16DEB41D06FACD481B5BFE3AF6FDF6F8CB_1.csv']

['../data/img_labeling_3rd_round/867D8B4F797167AA1CA27E00F76B51C63A7278ED_set1.csv']

['../data/img_labeling_3rd_round/C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_1-200_taggingresults.csv', '../data/img_labeling_3rd_round/C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_201-400_taggingresults.csv', '../data/img_labeling_3rd_round/C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_401-600_taggingresults.csv', '../data/img_labeling_3rd_round/C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_601-800_taggingresults.csv', '../data/img_labeling_3rd_round/C6C77B9A8025D969F0E14BEBBEECB8B82BAAF284_801-1012_taggingresults.csv']

['../data/img_labeling_3rd_round/43166EAC7DE5C6D48FF646B1B12BEB46AC7CA375_1.csv']

['../data/img_labeling_3rd_round/73396439E5B11BBCA57A8FCB53FBB6F0FCECE794_taggingresultsset-1.csv', '../data/img_labeling_3rd_round/73396439E5B11BBCA57A8FCB53FBB6F0FCECE794_taggingresultsset-2.csv']

['../data/img_labeling_3rd_round/A6241D7982404859C8D816D8C4A61DC506145A50_1.csv']

['../data/img_labeling_3rd_round/38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-06-05-01-03.csv', '../data/img_labeling_3rd_round/38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-06-05-39-48.csv', '../data/img_labeling_3rd_round/38205FF03AFF19E008FA123615336213A0ED33AB_2021-01-07-02-12-09.csv']

['../data/img_labeling_3rd_round/F9CC3D73B8F36057257097AFFE29B884000BABB5_1-taggingresults.csv', '../data/img_labeling_3rd_round/F9CC3D73B8F36057257097AFFE29B884000BABB5_2-taggingresults.csv', '../data/img_labeling_3rd_round/F9CC3D73B8F36057257097AFFE29B884000BABB5_3-taggingresults.csv', '../data/img_labeling_3rd_round/F9CC3D73B8F36057257097AFFE29B884000BABB5_4-taggingresults.csv']

['../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-34-21.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-40-48.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-47-56.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-53-44.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-10-59-14.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-13-13.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-19-19.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-24-46.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-29-52.csv', '../data/img_labeling_3rd_round/6438BC09053F6B5215CA1FC743AB0E3CF2B53984_2021-01-07-11-36-35.csv']

['../data/img_labeling_3rd_round/C003DF0C2EC67886EA6BC835682E3182A2126135_taggingresults1.csv', '../data/img_labeling_3rd_round/C003DF0C2EC67886EA6BC835682E3182A2126135_taggingresults2.csv']

['../data/img_labeling_3rd_round/F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D_tagging-results-1.csv', '../data/img_labeling_3rd_round/F0E0055FB33661B91E7C55DAFB0246BCB43D7D8D_tagging-results-2.csv']

['../data/img_labeling_3rd_round/245DC3767EBDBF721824F2F09B4251D5E0063494_taggingresults1.csv', '../data/img_labeling_3rd_round/245DC3767EBDBF721824F2F09B4251D5E0063494_taggingresults2.csv']

['../data/img_labeling_3rd_round/C733B58CB8AE244885A97E86B09D896A5633674C_taggingresults-set1.csv', '../data/img_labeling_3rd_round/C733B58CB8AE244885A97E86B09D896A5633674C_taggingresults-set2.csv']

['../data/img_labeling_3rd_round/C91C4E40D11000EB5E5BE0EDBE12C74A54FAA40B_01-taggingresults.csv']

['../data/img_labeling_3rd_round/F96F6ACF9B40EDA60D4D48FBED7B3512E1C8E48D_1.csv']

['../data/img_labeling_3rd_round/B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA_1.csv', '../data/img_labeling_3rd_round/B59DE8F9A0D4C9AADABAFF7EA6A4F61BF89861DA_taggingresults-bonus.csv']

['../data/img_labeling_3rd_round/8D396D662D61B164860C081535E30C3E32934406_1.csv']

['../data/img_labeling_3rd_round/5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-07-21-32.csv', '../data/img_labeling_3rd_round/5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-08-16-23.csv', '../data/img_labeling_3rd_round/5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-08-45-27.csv', '../data/img_labeling_3rd_round/5FFB96918AA02D6E1EF82257A2828F9A4FD9C702_2021-01-07-09-52-14.csv']

['../data/img_labeling_3rd_round/5FEF4C8B719CABDF32C46A4C9C9316376DF7B512_1.csv']

['../data/img_labeling_3rd_round/3AB6D9AAC2244ECC4F595743DF6EB54686DE31A0_1.csv']

In [4]:
list_dfs = []
for label_file in label_files:
    task = int(re.findall(r'[1-3]{1}', label_file)[0])
    user = re.findall(r'Amelie|Gerda|Renato|Yalemisew|Marcos', label_file)[0]
    date = re.findall(r'[0-9]{2}.[0-9]{2}', label_file)[0]
    date = f'{date}.2020'
    
    df = pd.read_csv(f'{datapath}{label_file}', names=['image name', 'class','w','h'])
    df['task'] = task
    df['user'] = user
    df['date'] = date
    df['date'] = pd.to_datetime(df['date'])
    df.drop(['w','h'], axis=1, inplace=True)
    df.drop_duplicates(inplace=True)
    df = df[['task', 'user', 'date', 'image name', 'class']]
    print(f'Task: {task}, User: {user}, Images Classified: {len(df)}')
    list_dfs.append(df)

Task: 1, User: Amelie, Images Classified: 392
Task: 1, User: Gerda, Images Classified: 392
Task: 1, User: Marcos, Images Classified: 392
Task: 1, User: Renato, Images Classified: 392
Task: 1, User: Yalemisew, Images Classified: 392
Task: 2, User: Amelie, Images Classified: 392
Task: 2, User: Gerda, Images Classified: 392
Task: 2, User: Marcos, Images Classified: 392
Task: 2, User: Renato, Images Classified: 392
Task: 2, User: Yalemisew, Images Classified: 392
Task: 3, User: Amelie, Images Classified: 392
Task: 3, User: Gerda, Images Classified: 442
Task: 3, User: Marcos, Images Classified: 392
Task: 3, User: Renato, Images Classified: 392
Task: 3, User: Yalemisew, Images Classified: 392

In [5]:
df_labeling = pd.concat(list_dfs)
df_labeling['id_image'] = pd.Categorical(df_labeling['image name']).codes
df_labeling["class"] = df_labeling["class"].apply(lambda x:x[1:-1])
df_labeling = df_labeling[['task', 'user', 'date', 'image name', 'id_image', 'class']]

In [6]:
df_labeling.head()

,task,user,date,image name,id_image,class
0,1,Amelie,2020-11-20,203-resource_document_zuiderzeemuseum_B001601_...,99,Non-Fruits
1,1,Amelie,2020-11-20,285-gam19649_1.jpeg,282,Fruits
2,1,Amelie,2020-11-20,07101-O_389_1.jpeg,6,Fruits
3,1,Amelie,2020-11-20,07101-O_927_1.jpeg,12,Fruits
4,1,Amelie,2020-11-20,07101-O_957_1.jpeg,13,Fruits

In [7]:
df_labeling['class'].unique()

array(['Non-Fruits', 'Fruits', 'Formal', 'Informal', 'Appealing',
       'Non-appealing'], dtype=object)

In [8]:
df_labeling['image_appearances'] = df_labeling.groupby('id_image')['id_image'].transform('count')
df_labeling = df_labeling[df_labeling['image_appearances'] != 1]

In [9]:
df_labeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5880 entries, 0 to 391
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   task               5880 non-null   int64
 1   user               5880 non-null   object
 2   date               5880 non-null   datetime64[ns]
 3   image name         5880 non-null   object
 4   id_image           5880 non-null   int16
 5   class              5880 non-null   object
 6   image_appearances  5880 non-null   int64
dtypes: datetime64[ns](1), int16(1), int64(2), object(3)
memory usage: 333.0+ KB

In [10]:
df_labeling.head()

,task,user,date,image name,id_image,class,image_appearances
0,1,Amelie,2020-11-20,203-resource_document_zuiderzeemuseum_B001601_...,99,Non-Fruits,15
1,1,Amelie,2020-11-20,285-gam19649_1.jpeg,282,Fruits,15
2,1,Amelie,2020-11-20,07101-O_389_1.jpeg,6,Fruits,15
3,1,Amelie,2020-11-20,07101-O_927_1.jpeg,12,Fruits,15
4,1,Amelie,2020-11-20,07101-O_957_1.jpeg,13,Fruits,15

#### Checking the numbers of images classified after fixing names:

In [11]:
for task in df_labeling.task.unique():
    for user in df_labeling.user.unique():
        size = len(df_labeling.loc[(df_labeling.user == user) & (df_labeling.task == task), 'id_image'].unique())
        print(f'Task: {task}, User: {user}, Images Classified: {size}')
    print()

Task: 1, User: Amelie, Images Classified: 392
Task: 1, User: Gerda, Images Classified: 392
Task: 1, User: Marcos, Images Classified: 392
Task: 1, User: Renato, Images Classified: 392
Task: 1, User: Yalemisew, Images Classified: 392

Task: 2, User: Amelie, Images Classified: 392
Task: 2, User: Gerda, Images Classified: 392
Task: 2, User: Marcos, Images Classified: 392
Task: 2, User: Renato, Images Classified: 392
Task: 2, User: Yalemisew, Images Classified: 392

Task: 3, User: Amelie, Images Classified: 392
Task: 3, User: Gerda, Images Classified: 392
Task: 3, User: Marcos, Images Classified: 392
Task: 3, User: Renato, Images Classified: 392
Task: 3, User: Yalemisew, Images Classified: 392

#### Checking which images were not classified:

In [12]:
images = set(df_labeling.id_image.unique())
dfs = []
for task in df_labeling.task.unique():
    for user in df_labeling.user.unique():
        id_list = []
        ids = images.difference(set(df_labeling.loc[(df_labeling.user == user) & (df_labeling.task == task), 'id_image']))
        if len(ids) > 0:
            #print(f'Missing files for task: {task}, by user: {user}')
            for _id in ids:
                try:
                    id_list.append(df_labeling.loc[(df_labeling.task == task) & (df_labeling.id_image == _id), 'image name'].values[0])
                    #print(df_labeling.loc[(df_labeling.task == task) & (df_labeling.id_image == _id), 'image name'].values[0])
                except:
                    pass
                    #print('--->', df_labeling.loc[(df_labeling.task == task) & (df_labeling.id_image == _id), 'image name'].values)
            #print()
        dfm = pd.DataFrame({'images':id_list})
        dfm['task'] = task
        dfm['user'] = user
        dfs.append(dfm)
df_missing = pd.concat(dfs)
df_missing.to_excel(f'{datapath}/missing.xlsx')
df_missing.head()

Empty DataFrame
Columns: [images, task, user]
Index: []

#### Checking duplicates

In [13]:
duplicates = df_labeling.loc[df_labeling.duplicated(['task', 'user', 'image name', 'id_image'], keep=False), ['task', 'user', 'image name', 'id_image', 'class']]
duplicates.sort_values(by=['user', 'image name', 'task'], inplace=True)
duplicates.to_excel(f'{datapath}/duplicates.xlsx')
duplicates.head(30)

Empty DataFrame
Columns: [task, user, image name, id_image, class]
Index: []

### Analysing the [inter-annotator agreement](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.cohen_kappa_score.html) on the results

In [14]:
l1 = df_labeling.user.unique()
iter_users = list(itertools.product(l1,l1))
df_iaa = pd.DataFrame(index=l1, columns=l1)

In [15]:
for task in df_labeling.task.unique():
    for user1,user2 in iter_users:
        classesA = df_labeling.loc[(df_labeling.user == user1) & (df_labeling.task == task),['id_image', 'class']]
        classesA.sort_values(by=['id_image'], inplace=True)

        classesB = df_labeling.loc[(df_labeling.user == user2) & (df_labeling.task == task),['id_image', 'class']]
        classesB.sort_values(by=['id_image'], inplace=True)
        
        classesAB = pd.merge(classesA, classesB, on=['id_image'])
        classesAB.drop_duplicates(subset='id_image', keep = 'first', inplace=True) 
        classesAB.drop('id_image', axis=1, inplace=True)
        classesAB.dropna(inplace=True)

        agreement = cks(classesAB['class_x'], classesAB['class_y'])
        df_iaa.loc[user1,user2] = f'{agreement:.3f}/({len(classesAB)})'  
        df_iaa.index.name = f'Task_{task}'
    print(tabulate(df_iaa, headers='keys', tablefmt='psql'))
    print()

+-----------+-------------+-------------+-------------+-------------+-------------+
| Task_1    | Amelie      | Gerda       | Marcos      | Renato      | Yalemisew   |
|-----------+-------------+-------------+-------------+-------------+-------------|
| Amelie    | 1.000/(392) | 0.943/(392) | 0.913/(392) | 0.928/(392) | 0.913/(392) |
| Gerda     | 0.943/(392) | 1.000/(392) | 0.886/(392) | 0.912/(392) | 0.866/(392) |
| Marcos    | 0.913/(392) | 0.886/(392) | 1.000/(392) | 0.923/(392) | 0.928/(392) |
| Renato    | 0.928/(392) | 0.912/(392) | 0.923/(392) | 1.000/(392) | 0.913/(392) |
| Yalemisew | 0.913/(392) | 0.866/(392) | 0.928/(392) | 0.913/(392) | 1.000/(392) |
+-----------+-------------+-------------+-------------+-------------+-------------+

+-----------+-------------+-------------+-------------+-------------+-------------+
| Task_2    | Amelie      | Gerda       | Marcos      | Renato      | Yalemisew   |
|-----------+-------------+-------------+-------------+-------------+-------------|
| Amelie    | 1.000/(392) | 0.168/(392) | 0.216/(392) | 0.255/(392) | 0.167/(392) |
| Gerda     | 0.168/(392) | 1.000/(392) | 0.188/(392) | 0.095/(392) | 0.419/(392) |
| Marcos    | 0.216/(392) | 0.188/(392) | 1.000/(392) | 0.094/(392) | 0.358/(392) |
| Renato    | 0.255/(392) | 0.095/(392) | 0.094/(392) | 1.000/(392) | 0.089/(392) |
| Yalemisew | 0.167/(392) | 0.419/(392) | 0.358/(392) | 0.089/(392) | 1.000/(392) |
+-----------+-------------+-------------+-------------+-------------+-------------+

+-----------+-------------+-------------+-------------+-------------+-------------+
| Task_3    | Amelie      | Gerda       | Marcos      | Renato      | Yalemisew   |
|-----------+-------------+-------------+-------------+-------------+-------------|
| Amelie    | 1.000/(392) | 0.472/(392) | 0.396/(392) | 0.526/(392) | 0.336/(392) |
| Gerda     | 0.472/(392) | 1.000/(392) | 0.346/(392) | 0.565/(392) | 0.454/(392) |
| Marcos    | 0.396/(392) | 0.346/(392) | 1.000/(392) | 0.326/(392) | 0.346/(392) |
| Renato    | 0.526/(392) | 0.565/(392) | 0.326/(392) | 1.000/(392) | 0.439/(392) |
| Yalemisew | 0.336/(392) | 0.454/(392) | 0.346/(392) | 0.439/(392) | 1.000/(392) |
+-----------+-------------+-------------+-------------+-------------+-------------+

In [16]:
df_labeling.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5880 entries, 0 to 391
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   task               5880 non-null   int64
 1   user               5880 non-null   object
 2   date               5880 non-null   datetime64[ns]
 3   image name         5880 non-null   object
 4   id_image           5880 non-null   int16
 5   class              5880 non-null   object
 6   image_appearances  5880 non-null   int64
dtypes: datetime64[ns](1), int16(1), int64(2), object(3)
memory usage: 333.0+ KB

In [17]:
df_labeling['round'] = 2
df_labeling.drop('image_appearances', inplace=True, axis=1)

In [18]:
df_labeling.to_hdf('../data/df_labeling.hdf', key='round2')