In [1]:
import os

In [2]:
os.getcwd()

'/home/rsouza/Downloads/1000-images-tagging-added-final'

In [3]:
names = os.listdir("./img")
names[0:10]

['168-item_WZHSFZEID37ZVORNF2RQHMZTVTZAQSTW_1.jpeg',
 '2059519-data_foodanddrink_70_0121579_1.jpeg',
 '2059519-data_foodanddrink_70_0115605_1.jpeg',
 '2059511-data_foodanddrink_24261_1.jpeg',
 '90402-RP_T_1978_26_R__1.jpeg',
 '2059513-data_foodanddrink_efd_LGMA_0332_1.jpeg',
 '2059511-data_foodanddrink_24346_1.jpeg',
 '2059511-data_foodanddrink_24451_1.jpeg',
 '9200579-arx8xs5b_1.jpeg',
 '2059513-data_foodanddrink_efd_LGMA_1672_1.jpeg']

In [4]:
newnames = []

In [5]:
for idx, name in enumerate(names):
    newname = f"{idx+1}.jpg"
    os.rename(os.path.join("./img", name), os.path.join("./img", newname))
    newnames.append(newname)

In [7]:
import pandas as pd

In [9]:
df = pd.DataFrame({"oldnames":names, "newnames":newnames})
df.head()

                                           oldnames newnames
0  168-item_WZHSFZEID37ZVORNF2RQHMZTVTZAQSTW_1.jpeg    1.jpg
1       2059519-data_foodanddrink_70_0121579_1.jpeg    2.jpg
2       2059519-data_foodanddrink_70_0115605_1.jpeg    3.jpg
3            2059511-data_foodanddrink_24261_1.jpeg    4.jpg
4                      90402-RP_T_1978_26_R__1.jpeg    5.jpg

In [10]:
df.to_excel("naming_conversion.xls")